/*style.css*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px 30px; /* Øger padding for mere luft */
    transition: transform 0.2s;
    width: 700px; /* Øger bredden på boksen */
    max-width: 90vw; /* Sikrer at boksen passer på mindre skærme */
    text-align: center;
}

h1 {
    color: #4CAF50;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 100px;
}


table {
    width: 100%; /* Gør, at tabellen fylder hele bredden af .main */
    border-collapse: collapse; /* Fjerner mellemrum mellem cellerne */
    margin-top: 20px; /* Lidt luft til toppen */
}

th, td {
    padding: 10px; /* Indre padding til cellerne */
    border: 1px solid #ddd; /* Giver et let grå kant til hver celle */
    text-align: left; /* Justerer teksten til venstre */
}

th {
    background-color: #f4f4f4; /* Giver en lys baggrund til overskrifter */
    font-weight: bold;
}

td a {
    color: #4CAF50;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

/* Juster .button klassen */
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    width: auto;
}

.wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.wishlist-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    width: auto;
}

.delete-button:hover {
    background-color: #d32f2f;
}