<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret en bruger</title>
    <link rel="stylesheet" th:href="styles.css">
    <link rel="icon" href="/favicon.jpeg" type="image/jpeg">
</head>
<body>
<div class="main">
    <h1>Bliv en del af ØnskGenbrug!</h1>
    <h2>Det kræver kun et brugernavn og en adgangskode</h2>

<form action="#" th:action="@{/save}" th:object="${user}" method="post">
    <label for="userName">Navn:</label>
    <input type="text" id="userName" th:field="*{userName}" />

    <label for="userPassword">Adgangskode:</label>
    <input type="password" id="userPassword" th:field="*{userPassword}" />

    <div class="wrap">
    <button type="submit">
        Klik her for at oprette
    </button>
    </div>
</form>
</div>

</body>
</html>