<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Ønsk Genbrug</title>
    <link rel="stylesheet" th:href="styles.css">
    <link rel="icon" href="/favicon.jpeg" type="image/jpeg">

</head>
<body>
<div class="main">
    <h1>Velkommen til ØnskGenbrug!</h1>
    <h2>Indtast dine login oplysninger</h2>
    <h3> ... og kom i gang med at ønske!</h3>

<!-- Loginformular -->
<form action="/login" method="post">
    <label for="username">Brugernavn:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Adgangskode:</label>
    <input type="password" id="password" name="password" required>

    <div class="wrap">
        <button type="submit">
            Log ind
        </button>
    </div>
</form>
    <p> Har du ikke en bruger?
        <a th:href="@{/create}" style="text-decoration: none;">
            Opret en bruger
        </a>
    </p>
</div>

<!-- Viser en fejlbesked, hvis login mislykkes -->
<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>

</body>
</html>