<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ny ønskeliste</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/favicon.jpeg" type="image/jpeg">
</head>
<body>
<div class="main">

<h1>Opret en ny ønskeliste</h1>

    <form action="#" th:action="@{/updateWishList}" method="post">
        <input type="hidden" name="wishListId" th:value="${wishList.id}" /> <!-- Sender id -->
        <label for="wishListName">Navn på ønskeliste:</label>
        <input type="text" name="wishListName" id="wishListName" th:value="${wishList.wishListName}" />
        <button type="submit">Opdater ønskeliste</button>
    </form>
    <!-- Link til at at komme retur til forsiden -->
    <a th:href="@{/welcome}">Retur til din profil</a>

</div>

</body>
</html>