<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Ønsk Genbrug - Velkommen</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/favicon.jpeg" type="image/jpeg">
</head>
<body>
<div class="main">
    <h1>Velkommen, <span th:text="${username}">Brugernavn</span></h1>
    <h2>Dine ønskelister</h2>

    <p>Du har ingen ønskelister endnu. Klik på "Opret ønskeliste" for at komme i gang!</p>

    <div class="wishlist-list">
        <!-- En liste over ønkselister:) -->
    </div>

    <div class="wrap">
        <a th:href="@{/createwishlist}" class="button">Opret ønskeliste</a>
    </div>

    <!-- Knap til at logge ud -->
    <a th:href="@{/logout}" class="button" style="background-color: #f44336;">Log ud</a>
</div>
</body>
</html>