<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishes</title>
</head>
<body>

<div th:if="${#lists.isEmpty(wishLists)}">
    <p>Du har endnu ikke nogle ønskelister. Klik her og opret din første
        <a th:href="@{/createwishlist}">ønskeliste</a>.</p>
</div>

<table th:if="${!#lists.isEmpty(wishLists)}">
    <thead>
    <h2>Dine ønskelister</h2>
    <tr th:each="wishList : ${wishLists}">
        <td th:text="${wishList.wishListName}"></td>
    </tr>


    </tbody>
</table>
</body>
</html>